<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Podcast</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'podcast/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'podcast/css/fonts/font-awesome/css/font-awesome.css' %}">

    <!-- Slider
    ================================================== -->
    <link rel="stylesheet" href="{% static 'podcast/css/owl.carousel.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'podcast/css/owl.theme.css' %}" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="{% static 'podcast/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'podcast/css/nivo-lightbox/nivo-lightbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'podcast/css/nivo-lightbox/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'podcast/css/main.css' %}">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'podcast/js/jquery.1.11.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'podcast/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'podcast/js/jquery.counterup.js' %}"></script>
    <script type="text/javascript" src="{% static 'podcast/js/waypoints.js' %}"></script>
    <script type="text/javascript" src="{% static 'podcast/js/nivo-lightbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'podcast/js/jquery.isotope.js' %}"></script>
    <script type="text/javascript" src="{% static 'podcast/js/jqBootstrapValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'podcast/js/jquery.tablesorter.min.js' %}"></script>
    <script type="text/javascript">
        function goToByScroll(id) {
            // Remove "link" from the ID
            id = id.replace("link", "");
            // Scroll
            $('html,body').animate({
                    scrollTop: $("#" + id).offset().top
                },
                'slow');
        }
        $(document).ready(function()
            {
                $("w3-table-all").tablesorter();
            }
        );
        // using jQuery
    </script>

</head>

<div id="page-top" data-target=".navbar-fixed-top">
    <!-- Navigation
    ==========================================-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top on">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand page-scroll" href="{% url 'index' %}">Podcast</a></div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'toppodcasts' %}" class="">Top Podcasts All Time</a></li>
                    <li><a href="{% url 'toptags' %}" class="">Top Tags</a></li>
                    <li><a href="{% url 'subscribed' %}" class="">Subscribed</a></li>
                    <li><a href="{% url 'subscribed' %}" class="">Trending Podcasts This Week</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<div id="search_result">
    <div class="container">
        <div class="section-title text-center center">
            <h2>Catch Up on your Subscriptions!</h2>
            <h3>These are the top five podcasts that have been uploading better than ever!</h3>
        </div>
        <div class="row">
            <table class="w3-table-all">
                <tr><th>Title</th><th>URL</th><th>Subscribers</th><th>Subscribers Last Week</th></tr>
                {% for result in recommended %}
                <tr>
                    <td><a href="episodes/?q={{result.url}}">
                        {{result.0.title}}
                    </a>
                    </td>
                    <td><a target="_blank" href="{{result.url}}">
                        {{result.0.url|slice:":30"}}...
                    </a>
                    </td>
                    <td>
                        {{result.0.subscribers}}
                    </td>
                    <td>
                        {{result.0.subscribers_last_week}}
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

<div id="search_result">
    <div class="container">
        <div class="section-title text-center center">
            <h2>Subscribed Podcasts</h2>
            <h3>All your subscribed podcasts. Click on the title cells to see what episodes have been uploaded!</h3>
        </div>
        <div class="row">
            <table class="w3-table-all">
                <tr><th>Title</th><th>URL</th><th>Subscribers</th><th>Subscribers Last Week</th></tr>
                {% for result in subscribed %}
                <tr>
                    <td><a href="episodes/?q={{result.url}}">
                        {{result.title}}
                    </a>
                    </td>
                    <td><a target="_blank" href="{{result.url}}">
                        {{result.url|slice:":30"}}...
                    </a>
                    </td>
                    <td>
                        {{result.subscribers}}
                    </td>
                    <td>
                        {{result.subscribers_last_week}}
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>


</body>

</html>