<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Podcast</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'podcast/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'podcast/css/fonts/font-awesome/css/font-awesome.css' %}">

    <!-- Slider
    ================================================== -->
    <link rel="stylesheet" href="{% static 'podcast/css/owl.carousel.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'podcast/css/owl.theme.css' %}" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="{% static 'podcast/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'podcast/css/nivo-lightbox/nivo-lightbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'podcast/css/nivo-lightbox/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'podcast/css/main.css' %}">

    <script type="text/javascript" src="{% static 'podcast/js/jquery.1.11.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'podcast/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'podcast/js/jquery.counterup.js' %}"></script>
    <script type="text/javascript" src="{% static 'podcast/js/waypoints.js' %}"></script>
    <script type="text/javascript" src="{% static 'podcast/js/nivo-lightbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'podcast/js/jquery.isotope.js' %}"></script>
    <script type="text/javascript" src="{% static 'podcast/js/jqBootstrapValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'podcast/js/jquery.tablesorter.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function()
            {
                $("table").tablesorter();
            }
        );
        // using jQuery
    </script>

</head>


<div id="page-top" data-target=".navbar-fixed-top">
    <!-- Navigation
    ==========================================-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top on">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand page-scroll" href="{% url 'index' %}">Podcast</a></div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'toppodcasts' %}" class="">Top Podcasts All Time</a></li>
                    <li><a href="{% url 'toptags' %}" class="">Top Tags</a></li>
                    <li><a href="{% url 'subscribed' %}" class="">Subscribed</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<!-- Header -->
<div id="search_result">
    <div class="container">
        <div class="section-title text-center center">
            <h2>Top 50 Podcasts</h2>
            <h3>All time favorites!</h3>
        </div>
        <div class="row">
            <table class="w3-table-all">
                <thead>
                <tr><th>Title</th><th>Description</th><th>URL</th><th>Subscribers</th><th>Subscribers From Last Week</th></tr>
                </thead>
                <tbody>
                {% for result in podcasts %}
                <tr>
                    <td><a href="../episodes/?q={{result.url}}">
                        {{result.title}}
                    </a>
                    </td>
                    <td>
                        {{result.description}}
                    </td>
                    <td><a target="_blank" href="{{result.url}}">
                        {{result.url|slice:":30"}}...
                    </a>
                    </td>
                    <td>
                        {{result.subscribers}}
                    </td>
                    <td>
                        {{result.subscribers_last_week}}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>

</html>